.navbar-default {
	color: #FFFFFF !important;
    background-color: #000000 !important;
    background-size: contain;
    border-style: none;
    border-bottom: none;
    
 }

.navbar-nav li a:hover, .navbar-nav > .active > a {
color: #FFFF00 !important;

background-color:#5B5452 !important;
}