.navbar-default{
	background: rgba(0,0,0,0) !important;
    background-size: contain;
    border-style: none;
    border-bottom: none;
    
    

    
 }

.navbar-nav li a:hover, .navbar-nav > .active > a{
color: #FFFF00 !important;
background: rgba(162,162,0, 30) !important;

}