.navbar-default{
	background: rgba(0,0,0,0) !important;
    background-size: contain;
    border-style: dotted dashed solid double;
    border-color: black; 
 }

.navbar-nav li a:hover, .navbar-nav > .active > a{
color: #9bacd8 !important;
background-color: rgba(153,153,0,1) !important;
border-radius: 10px 20px 20px 20px; 


}


.modal-body{ 
	min-height: 100%;

}

.modal-dialog{ 
	width: 100%
}

@font-face {
  font-family: "Raleway-Light";
  src: url("Raleway-Light.eot"); /* IE9 Compat Modes */
  src: url("Raleway-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Raleway-Light.otf") format("opentype"), /* Open Type Font */
    url("Raleway-Light.svg") format("svg"), /* Legacy iOS */
    url("Raleway-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("Raleway-Light.woff") format("woff"), /* Modern Browsers */
    url("Raleway-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}